$base-color: #666;
$dire-color: #C56E4F;
$low-color: #DBBA65;
$normal-color: #7FAD78;
$good-color: #718AA5;
$high-color: #4D5D73;

$land-color: #EFE6D8;
$ocean-color: #D1DDE5;
$bodies-of-water-color: #85C4E0;
$freeways-color: #FFF5EB;
