html, body {
  overflow: hidden;
  height: 100%;
}

#water-system-detail {
  position: absolute;
  padding: 70px 20px 20px 20px;
  top: 0;
  right: -555px; /* width plus box-shadow */
  width: 540px;
  height: 100%;
  overflow-y: scroll;
  background: white;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0, 1, 0.6, 1);
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.1);
}

#water-system-detail.visible {
  right: 0;
}

.water-system-detail__divider {
  border: 0;
  height: 1px;
  background-color: rgba($base-color, 0.4);
  width: 100px;
}

.water-system-detail__description { font-weight: normal; }
.water-system-summary__chart { margin-top: 20px; }
.water-system-summary__legend {
  margin-top: -120px;
  display:flex;
}
 
.water-system-summary__legend-color {
  box-sizing: border-box;
  background: #CCC;
  width: 38px;
  height: 38px;
  margin: 0 auto;
}

.water-system-summary__legend-color-wrapper, .water-system-summary__legend-label {
  flex-grow: 1;
}
.water-system-summary__legend-label {
  padding-left: 2px;
  padding-right: 4px;
}

.dire { background: $dire-color }
.low { background: $low-color }
.normal { background: $normal-color }
.good { background: $good-color }
.high { background: $high-color }